.sidebar {
    width: 20%;

    .top-sidebar {
        background-color: $white;
        border-radius: 10px;

        .profile-bg {
            text-align: center;
            position: relative;

            .card-bg {
                width: 100%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            .profile-img {
                background-color: $white;
                width: 40%;
                position: absolute;
                top: 50%;
                left: 50%;
                padding: .5em;
                border-radius: 50%;
                transform: translate(-50%, 0);
            }
        }

       .name {
            text-align: center;
            padding: 2em 1em 1em;
            border-bottom: 1px solid $blue;

            h3 {
                font-size: 1rem;
                margin-bottom: 0;
            }

            p {
                margin-top: 0;
                color: $blue;
            }
       }
    }

    .item {
        padding: 1em;
    }

    .network {
        border-bottom: 1px solid $lightgrey;
        padding: 1em;
        @include layout(flex, center, space-between);
    }

    .bold, .connect-icon {
        font-weight: 700;
    }

    .connect-icon {
        font-size: 1.2rem;
    }

    .hashtags {
        background-color: $white;
        border-radius: 10px;
    }
}

.left-bar {
    background-color: $white;
    width: 20%;
    border-radius: 10px;
    align-self: baseline;
    padding: .5em 1em;

    .fcard1 {
        @include layout(flex, center, space-between);

        .f-icon {
            width: 25px;
        }
    }

    .fcard {
        @include layout(flex, center, flex-start);

        p {
            font-weight: 700;
            width: 40%;

            button {
                padding: .5em;
                background-color: $white;
                border: 2px solid $lightgrey;
                border-radius: 50px;
                width: 100%;
            }
        }

        .tag1 {
            font-size: 3rem;
            border-radius: 50px;
            border: 8px solid $lightgrey;
            margin-right: 13px;
        }
    }

    .rec-text {
        color: $blue;
        font-weight: 700;
    }
}

@media (max-width: 600px) {
    .sidebar, .left-bar {
        width: 100%;
    }
}