@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

// mixin variables

@mixin layout($display, $alignitems, $justifycontent) {
  display: $display;
  align-items: $alignitems;
  justify-content: $justifycontent;
}

//  color variable

$grey: #f5f5f5;
$blue:  #0072b1;
$white: #ffffff;
$black: #000;
$lightblue: #e8f3ff;
$lightgrey: #56687a;
$darkgrey: #293138;
$bordergrey: rgb(187, 185, 185);

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.main-content {
  background-color: $grey;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

// %button-style {
//   padding: 1em 1.5em;
//   border-radius: 8px;
//   font-weight: 700;
//   border: 0;
//   height: 90px;
// }

@import './login';
@import './component';
@import './feed';
@import './rightbar.scss';
@import './home';
@import './postfeed'